<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDVqT80OXjASOS1m20GAeZ3MU4idWSf-jg</string>
	<key>GCM_SENDER_ID</key>
	<string>969009672530</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.commentsApp</string>
	<key>PROJECT_ID</key>
	<string>pingolearn-task--comments-app</string>
	<key>STORAGE_BUCKET</key>
	<string>pingolearn-task--comments-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:969009672530:ios:a7542a85cb536aac2b0a8b</string>
</dict>
</plist>